@page
@model SQL_web.Pages.PartNumbers.CreateModel
@{
}
<h3>New Part</h3>

@if (Model.errorMessage.Length > 0)
{
    <div>
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert">Close</button>
    </div>
}

<form method="POST">
    <!-- Input information for part number we need part number, kfcustomer and availability-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Part Number: </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="partnumber" value="" />
        </div>
    </div>
    <!-- part number that cames from the table customers-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Customer owner: </label> 
        <div class="col-sm-3">
            <select class="form-select" name="FKCustomer">
                @foreach (var customers in Model.listCustomers)
                {
                    <option value="@customers.PKCustomers">@customers.Customer</option>
                }

            </select>
        </div>
    </div>

    <!-- for the Available we need to select a a yes or no, but using 0 and 1-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Part Available: </label>
        <div class="col-sm-3">
            <select class="form-select" name="Available">
                <option value="0">No</option>
                <option value="1">Yes</option>
           </select>
        </div>
    </div>
    <!--If all the information is submitted succes event activated-->
    @if (Model.success.Length > 0)
    {
        <div>
            <strong>@Model.success</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert">Close</button>
        </div>
    }
    <!--Button to submit-->
    <div class="row mb-3">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <a class="btn btn-outline-primary" href="/PartNumbers" role="button">Cancel</a>
        </div>
    </div>
</form>