@page
@model SQL_web.Pages.PartNumbers.CreateModel
@{
}
<h3>New Part</h3>

@if (Model.errorMessage.Length > 0)
{
    <div>
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert">Close</button>
    </div>
}

<form method="POST">
    <!-- Input information for customers we need part number, kfcustomer and availability-->
    <!--Perhaps we can make prefix automatically, but just if we have time-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Part Number</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="partnumber" value="" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">FKCustomer</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="fkcustomer" value="@Model.partinfo.FKCustomer" />
        </div>
    </div>

    <!-- for the FKbuilding we need to select a list from the other table-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Available</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="available" value="@Model.partinfo.Available" />
        </div>
    </div>
    <!--If all the information is submitted succes event activated-->
    @if (Model.success.Length > 0)
    {
        <div>
            <strong>@Model.success</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert">Close</button>
        </div>
    }
    <!--Button to submit-->
    <div class="row mb-3">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <a class="btn btn-outline-primary" href="/PartNumbers" role="button">Cancel</a>
        </div>
    </div>
</form>