@page
@model SQL_web.Pages.PartNumbers.IndexModel
@{
}

<br />

<!--Inserting title and add button-->

<h2> List of Part Numbers</h2>
<a class="btn btn-primary btn-sm" href="/PartNumbers/Create">New Part</a>

<br />
<div>
    <p> Parts available: </p>
</div>

<!--Table-->

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Part Number</th>
            <th>Customer</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        <!--body from the table, iterate from the list created on the C# code-->
        @foreach (var item in Model.listpartnumbers)
        {
            <tr>
                <td>@item.PKPartNumber</td>
                <td>@item.PartNumber</td>
                <td>@item.Customer</td>
                <td>@item.Available</td>
            </tr>
        }
    </tbody>
</table>