@page
@model SQL_web.Pages.Buildings.IndexModel
@{
}

<br />
<!--Ingresando titulo y boton de action -->

<h2>List of Buildings</h2>
<a class="btn btn-primary btn-sm" href="/Buildings/Create">New Building</a>

<!--Table header -->

<div>
    <p>Buildings available: </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Number of building</th>
            <th>Building</th>
        </tr>
    </thead>
    <tbody>
        <!--Table body, iterate for each item on the list and being sent by the
            code from the database
        -->
        @foreach (var item in Model.listBuildings)
        {
            <tr>
                <td>@item.PKBuilding</td>
                <td>@item.Building</td>
            </tr>
        }
    </tbody>
</table>
